<div class="page">
    <h1>What is Dirty Duckz?</h1>
    <p>
        Dirty Duckz is an unprofessional Dirtybomb clan for 
        people who can kinda play the game, but not really.
        We take great pride in winning matches because the other 
        teams players couldn't connect. Cuz when we actualy
        do try too win a game we always lose.  
    </p>
    <div>
        <p>
            We are a global community. With great emphesis on strong international
            relations. Our playerbase stretches from Scandinavia all the way to 
            north Africa. 
        </p>
        <p>
            And we would love to see more players from other countries like south Korea join our team.
        </p>
    </div>
        <p>
            So what do you say? Join now, and get free acces to all of our goods and services!
        </p>
    </div>
</div>